body {
  font-family: sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;

  display: flex;
}

h1 {
  text-align: center;
}

label {
  display: block;
}

input,
button {
  border: 1px solid steelblue;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
}

button {
  font-size: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  border: 1px solid gray;
  cursor: pointer;
  display: inline;
  padding: 10px;
}

ul li.active {
  border-bottom: 1px solid white;
}

form {
  margin-top: 10px;
  border-top: 1px solid gray;
  padding: 10px 0;
}

.form-group {
  margin-bottom: 10px;
}
